In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
from IPython.display import display
pd.options.display.max_columns = None

In [2]:
listings_10_22_df = pd.read_csv("../airbnb_listings_sum_oct_4_2022.csv")
listings_10_23_df = pd.read_csv("../airbnb_listings_sum_oct_1_2023.csv")
listings_open_df = pd.read_csv("../Airbnb_Open_Data_26cols.csv", low_memory=False)


df22 = listings_10_22_df.copy()
df23 = listings_10_23_df.copy()
df_open = listings_open_df.copy()

In [3]:
reviews_10_23_df = pd.read_csv("../airbnb_reviews_oct_1_2023.csv")

In [4]:
display(reviews_10_23_df["date"].max())
display(reviews_10_23_df["date"].min())
display(reviews_10_23_df["date"].nunique())

'2023-10-01'

'2009-05-25'

4851

In [5]:
reviews_10_23_df.describe()

         listing_id
count  9.836210e+05
mean   9.722995e+16
std    2.454575e+17
min    2.595000e+03
25%    9.253827e+06
50%    2.536974e+07
75%    4.836571e+07
max    9.898591e+17

In [6]:
listings_calendar_df = pd.read_csv("../airbnb_calendar_oct_1_2023.csv.gz")

In [7]:
len(listings_calendar_df)

14159104

In [8]:
display(len(listings_calendar_df.columns))
listings_calendar_df.columns

7

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [9]:
listings_calendar_df[(listings_calendar_df["listing_id"]==2595) & (listings_calendar_df["available"]=="f")].count()

listing_id        14
date              14
available         14
price             14
adjusted_price    14
minimum_nights    14
maximum_nights    14
dtype: int64

In [10]:
listing_big_df = pd.read_csv("../airbnb_listings_oct_1_2023.csv.gz")

In [11]:
# pd.set_option("max_columns", None)

In [12]:
listing_big_df.head(1)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,9630344,https://www.airbnb.com/rooms/9630344,20231001204715,2023-10-02,city scrape,Rental unit in Brooklyn · ★4.80 · 1 bedroom ·...,Enjoy your own private bedroom in our 2 bedroo...,Easy access to subway. Trendy and yet quiet.,https://a0.muscache.com/pictures/496cf3f1-7d0d...,47783628,https://www.airbnb.com/users/show/47783628,Tiffannie,2015-10-30,"New York, NY",NaN,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/5c087...,https://a0.muscache.com/im/pictures/user/5c087...,NaN,1.0,2.0,"['email', 'phone']",t,f,"Brooklyn , New York, United States",Bushwick,Brooklyn,40.68457,-73.91181,Private room in rental unit,Private room,1,NaN,1 shared bath,NaN,1.0,"[""Body soap"", ""Dryer"", ""Refrigerator"", ""Wifi"",...",$65.00,30,30,30,30,30,30,30.0,30.0,NaN,t,29,59,89,364,2023-10-02,5,0,0,2016-08-14,2018-04-30,4.8,4.6,5.0,5.0,5.0,4.8,5.0,NaN,f,1,0,1,0,0.06

In [13]:
listing_big_df["amenities"].sample(25)

274      ["Smoke alarm", "Kitchen", "Shampoo", "Essenti...
979      ["Clothing storage: closet and dresser", "Baki...
33838    ["Microwave", "Clothing storage: wardrobe", "S...
9288     ["Smoke alarm", "Kitchen", "Washer", "Essentia...
19627    ["Kitchen", "Washer", "Essentials", "TV", "Air...
22280    ["Microwave", "Fast wifi \u2013 393 Mbps", "Se...
2319     ["Kitchen", "Essentials", "TV", "Air condition...
19393    ["Microwave", "Self check-in", "Dryer", "Refri...
33584    ["Smoke alarm", "Kitchen", "TV", "Air conditio...
11508    ["Smoke alarm", "Kitchen", "Essentials", "TV",...
31136    ["Shared BBQ grill: charcoal", "Microwave", "D...
3703     ["Microwave", "Baking sheet", "Refrigerator", ...
2989     ["Baking sheet", "Cleaning products", "Body so...
7135     ["Drying rack for clothing", "Microwave", "Bak...
38177    ["Smoke alarm", "Kitchen", "Carbon monoxide al...
12735    ["Self check-in", "Dryer", "Refrigerator", "Wi...
16537    ["Self check-in", "Building staff", "Wifi", "E...
4341     ["Smoke alarm", "Kitchen", "Shampoo", "Essenti...
1387     ["Smoke alarm", "Essentials", "Air conditionin...
3278     ["Microwave", "Self check-in", "Body soap", "S...
31111    ["Smoke alarm", "Kitchen", "Shampoo", "Essenti...
10658    ["Microwave", "Self check-in", "Cleaning produ...
16809    ["Microwave", "Cleaning products", "Body soap"...
5073     ["Shampoo", "Cooking basics", "Essentials", "T...
2992     ["Smoke alarm", "Kitchen", "Shampoo", "Air con...
Name: amenities, dtype: object

In [14]:
listing_big_df.columns
#review_scores_rating'

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [15]:
#listings_open_df.head()
listings_open_df.describe(include="all")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
count,1.025990e+05,102349,1.025990e+05,102310,102193,102570,102583,102591.000000,102591.000000,102067,102468,102494,102523,102599,102385.000000,102352,102326,102190.000000,102416.000000,86706,86720.000000,102273.000000,102280.000000,102151.000000,50468,2
unique,NaN,61281,NaN,2,13190,7,224,NaN,NaN,1,1,2,3,4,NaN,1151,231,NaN,NaN,2477,NaN,NaN,NaN,NaN,1976,1
top,NaN,Home away from home,NaN,unconfirmed,Michael,Manhattan,Bedford-Stuyvesant,NaN,NaN,United States,US,False,moderate,Entire home/apt,NaN,$206,$41,NaN,NaN,6/23/2019,NaN,NaN,NaN,NaN,#NAME?,41662/AL
freq,NaN,33,NaN,51200,881,43792,7937,NaN,NaN,102067,102468,51474,34343,53701,NaN,137,526,NaN,NaN,2443,NaN,NaN,NaN,NaN,2712,2
mean,2.914623e+07,NaN,4.925411e+10,NaN,NaN,NaN,NaN,40.728094,-73.949644,NaN,NaN,NaN,NaN,NaN,2012.487464,NaN,NaN,8.135845,27.483743,NaN,1.374022,3.279106,7.936605,141.133254,NaN,NaN
std,1.625751e+07,NaN,2.853900e+10,NaN,NaN,NaN,NaN,0.055857,0.049521,NaN,NaN,NaN,NaN,NaN,5.765556,NaN,NaN,30.553781,49.508954,NaN,1.746621,1.284657,32.218780,135.435024,NaN,NaN
min,1.001254e+06,NaN,1.236005e+08,NaN,NaN,NaN,NaN,40.499790,-74.249840,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,NaN,-1223.000000,0.000000,NaN,0.010000,1.000000,1.000000,-10.000000,NaN,NaN
25%,1.508581e+07,NaN,2.458333e+10,NaN,NaN,NaN,NaN,40.688740,-73.982580,NaN,NaN,NaN,NaN,NaN,2007.000000,NaN,NaN,2.000000,1.000000,NaN,0.220000,2.000000,1.000000,3.000000,NaN,NaN
50%,2.913660e+07,NaN,4.911774e+10,NaN,NaN,NaN,NaN,40.722290,-73.954440,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,NaN,3.000000,7.000000,NaN,0.740000,3.000000,1.000000,96.000000,NaN,NaN
75%,4.320120e+07,NaN,7.399650e+10,NaN,NaN,NaN,NaN,40.762760,-73.932350,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,5.000000,30.000000,NaN,2.000000,4.000000,2.000000,269.000000,NaN,NaN
max,5.736742e+07,NaN,9.876313e+10,NaN,NaN,NaN,NaN,40.916970,-73.705220,NaN,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,5645.000000,1024.000000,NaN,90.000000,5.000000,332.000000,3677.000000,NaN,NaN

In [16]:
listings_open_df.nunique()
display(listings_open_df["listing_id"].min())

KeyError: 'listing_id'

In [ ]:
listings_open_df.info()

In [ ]:
# listings df for 2022
df22.info()

In [ ]:
df22.describe()

In [ ]:
df22.describe(include="all")

In [ ]:
# listings df for 2023
df23.info()

In [ ]:
df23.head()

In [ ]:
df23.describe()

In [ ]:
df23.describe(include="all")

In [ ]:
df_open.head(2)

In [ ]:
df_open.info()

In [ ]:
df_open.describe()

In [ ]:
df_open.describe(include="all")

In [ ]:
# boxplot of minimums nights for october 2022 and 2023

x1 = df22["minimum_nights"][df22["minimum_nights"]<=100]
x2 = df23["minimum_nights"][df23["minimum_nights"]<=100]

# df22["minimum_nights"][df22["minimum_nights"]<=100].plot.box()
# df23["minimum_nights"][df23["minimum_nights"]<=100].plot.box()

plt.boxplot([x1, x2])
plt.xticks([1, 2], labels= ["2022", "2023"])

In [ ]:
display(df22["minimum_nights"].count())
display(df23["minimum_nights"].count())
display(df22["minimum_nights"][df22["minimum_nights"]!=30].count())
display(df22["minimum_nights"][df22["minimum_nights"]==30].count())
display(df23["minimum_nights"][df23["minimum_nights"]!=30].count())
display(df23["minimum_nights"][df23["minimum_nights"]==30].count())

total22 = df22["minimum_nights"].count()
total23 = df23["minimum_nights"].count()
count30_22 = df22["minimum_nights"][df22["minimum_nights"]==30].count() 
morethan30_22 = df22["minimum_nights"][df22["minimum_nights"]>=30].count() 
count30_23 = df23["minimum_nights"][df23["minimum_nights"]==30].count()
morethan30_23 = df23["minimum_nights"][df23["minimum_nights"]>=30].count()

ratio30_22 = count30_22/total22
ratio30_23 = count30_23/total23
ratiomore30_22 = morethan30_22/total22
ratiomore30_23 = morethan30_23/total23

print(f"In 2022: There were {count30_22} listings for a minimum of 30 days, {round(ratio30_22 * 100, 1)}% of total listings")
print(f"In 2023: There are {count30_23} listings for a minimum of 30 days, {round(ratio30_23 * 100, 1)}% of total listings")
print(f"In 2022: There were {morethan30_22} listings for a minimum of 30 days or more, {round(ratiomore30_22 * 100, 1)}% of total")
print(f"In 2022: There were {morethan30_23} listings for a minimum of 30 days or more, {round(ratiomore30_23 * 100, 1)}% of total")