In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

In [5]:
listings_10_22_df = pd.read_csv("../airbnb_listings_sum_oct_4_2022.csv")
listings_10_23_df = pd.read_csv("../airbnb_listings_sum_oct_1_2023.csv")
listings_open_df = pd.read_csv("../Airbnb_Open_Data_26cols.csv", low_memory=False)

df22 = listings_10_22_df.copy()
df23 = listings_10_23_df.copy()
df_open = listings_open_df.copy()

In [6]:
# listings df for 2022
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40545 entries, 0 to 40544
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              40545 non-null  int64
 1   name                            40532 non-null  object
 2   host_id                         40545 non-null  int64
 3   host_name                       40522 non-null  object
 4   neighbourhood_group             40545 non-null  object
 5   neighbourhood                   40545 non-null  object
 6   latitude                        40545 non-null  float64
 7   longitude                       40545 non-null  float64
 8   room_type                       40545 non-null  object
 9   price                           40545 non-null  int64
 10  minimum_nights                  40545 non-null  int64
 11  number_of_reviews               40545 non-null  int64
 12  last_review                     32155 non-null  object
 13  reviews_per_month               32155 non-null  float64
 14  calculated_host_listings_count  40545 non-null  int64
 15  availability_365                40545 non-null  int64
 16  number_of_reviews_ltm           40545 non-null  int64
 17  license                         5 non-null      object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.6+ MB

In [7]:
df22.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,4.054500e+04,4.054500e+04,40545.000000,40545.000000,40545.000000,40545.000000,40545.000000,32155.000000,40545.000000,40545.000000,40545.000000
mean,1.322763e+17,1.332881e+08,40.728697,-73.945322,201.153730,19.061734,26.844148,1.286806,18.133901,134.619065,7.944654
std,2.622708e+17,1.474335e+08,0.058812,0.058498,366.476189,31.899106,56.486804,1.991431,62.874935,139.719582,18.643832
min,2.539000e+03,2.438000e+03,40.500314,-74.269520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,1.674078e+07,1.401186e+07,40.687570,-73.983340,80.000000,2.000000,1.000000,0.140000,1.000000,0.000000,0.000000
50%,3.916942e+07,6.062672e+07,40.724430,-73.953500,133.000000,14.000000,5.000000,0.580000,1.000000,83.000000,1.000000
75%,5.312715e+07,2.255155e+08,40.763170,-73.925000,220.000000,30.000000,26.000000,1.890000,4.000000,287.000000,8.000000
max,7.301517e+17,4.819948e+08,40.928810,-73.690060,17710.000000,1250.000000,1553.000000,118.290000,464.000000,365.000000,921.000000

In [10]:
# listings df for 2023
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38792 non-null  int64
 1   name                            38792 non-null  object
 2   host_id                         38792 non-null  int64
 3   host_name                       38787 non-null  object
 4   neighbourhood_group             38792 non-null  object
 5   neighbourhood                   38792 non-null  object
 6   latitude                        38792 non-null  float64
 7   longitude                       38792 non-null  float64
 8   room_type                       38792 non-null  object
 9   price                           38792 non-null  int64
 10  minimum_nights                  38792 non-null  int64
 11  number_of_reviews               38792 non-null  int64
 12  last_review                     28440 non-null  object
 13  reviews_per_month               28440 non-null  float64
 14  calculated_host_listings_count  38792 non-null  int64
 15  availability_365                38792 non-null  int64
 16  number_of_reviews_ltm           38792 non-null  int64
 17  license                         2939 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.3+ MB

In [9]:
df23.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.879200e+04,3.879200e+04,38792.000000,38792.000000,38792.000000,38792.000000,38792.000000,28440.000000,38792.000000,38792.000000,38792.000000
mean,2.820216e+17,1.558350e+08,40.729379,-73.945829,215.945891,30.639977,25.356285,1.078758,38.581563,148.752629,6.946896
std,3.854980e+17,1.676485e+08,0.056725,0.055115,496.013612,26.633260,55.852480,1.651815,113.306079,142.257519,16.626580
min,2.595000e+03,1.678000e+03,40.500314,-74.251907,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,1.976673e+07,1.643725e+07,40.688790,-73.982820,79.000000,30.000000,0.000000,0.110000,1.000000,0.000000,0.000000
50%,4.542122e+07,7.616643e+07,40.726290,-73.953886,135.000000,30.000000,4.000000,0.410000,1.000000,120.000000,0.000000
75%,7.208503e+17,2.754027e+08,40.762672,-73.926209,225.000000,30.000000,24.000000,1.520000,6.000000,300.000000,5.000000
max,9.927295e+17,5.395985e+08,40.911380,-73.713650,30000.000000,1250.000000,1843.000000,62.820000,602.000000,365.000000,814.000000

In [11]:
df_open.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [12]:
df_open.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000